// Colors
// primary
$colorBackgroundMain: hsl(233, 47%, 7%);
$colorBackgroundCard: hsl(244, 38%, 16%);
$colorAccent: hsl(277, 64%, 61%);
// neutral
$colorWhite: hsl(0, 0%, 100%);
$colorParagraphMain: hsla(0, 0%, 100%, 0.75);
$colorParagraphStat: hsla(0, 0%, 100%, 0.6);
